:root{
  --font-family: CursorGothic;
}
body {
 background-color: #26251e;
 font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
 color: antiquewhite;
 padding: 0%;
 margin: 0%;
}



nav{
  height: 10vh;
  width: 100% ;
  display: flex;
 justify-content: space-between;
  align-items: start;
  align-items: center;
  padding: 0px 20px;
}

.logo{
  width: 110px;
}
.logo img {
  height: 30px;
  width: 95px;
}
.items {
  list-style: none;
  display: flex;
  align-items: center;
  font-family: CursorGothic;
  gap: 20px;
  width: auto;
}
.end{
  height: 30px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px ;
  font-weight: 700;
}
.end a {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  padding: 5px;
 border-radius: 15px;
 border: 1px solid #3d3d36;
}

.end button{
   
  padding: 5px;
 

}
.left{ background-color: #26251e;
 border: none; 
  color: aliceblue;
  padding: 5px;

}
.right{
 background-color: aliceblue;
  color: #26251e;
  padding: 5px; border-radius: 15px;
 border: 1px solid #3d3d36;
  
}
 .container{
  display: flex;
  flex-direction: column;
  height: 140vh;
  align-items: self-start;
  width: 80vw;
margin-top : 40px;
font-weight: 500;
 margin-left: 0;
 padding-top: 20px;
 padding-left:  30px;
}


.button-con{
   height: 100px;
  width: 400px;
  display: flex;
  align-items:start;
  justify-content: center;
  justify-content: space-between;
  padding-top: 10px;
 margin-top: 0px; 
}
 .container h2 {
  width: 45vw;
 }



 .download{
background-color: aliceblue;
color: #26251e;
height: 40px;
width: 200px;
 border-radius: 25px;
 border: 1px solid;



 }
 .request{
height: 40px;
width: 200px;
  background-color: #070705;
  color: aliceblue;
   border-radius: 25px;
 border: 1px solid #1d1d17;
 padding-bottom: 10px;
 text-align: top;

 font-size: 15px;
 }
 .video{
  width: 90vw;
  height: 700px;
  background-image: url(./assests/Banner.jpeg);
  position:relative;
  background-repeat: no-repeat;
 background-size: cover;
 z-index: -10;
 

 }
 .video video {
  width: 100%;
  height: 100%;
z-index: 1;
margin-top: -20px;
 background-size: cover;
 }
 .stack{
  margin-top: 100px;
  height: 140px;
  width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 
 }
 .stack .text{

 }
.logos{
  width: 100%;
height: 150px;
  display: flex;
 align-items: center;
 justify-content: space-between;
 
 
 background-color: #070705;

background-color: #38382f;

 

}
.logos img {
 width: auto;
  border: 1px solid #38382f;
  height: 38px;
width: auto;
} 

main{
  background-color: #1d1d17;
  height: 100vh;
  width: 95vw;
  margin: 0px 50px;
display: flex;
gap: 20px;
margin-left: 15px;

}
main div {
  background-color: #1d1d17;
   display: flex;
   /* gap: 100px; */
   height: 50vh;
  
}
main .main-left{
   background-color: #1d1d17;
height: 100%;
width: 25%;
margin: 0px 10px;
}
main .main-right{  

  padding-left: 100px;
  height: 100%;
width: auto;

}
main .main-right video{
  width: 100%;
}

.main-left{
  padding-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  
}
.main-left div{ 
  
  height: 300px;
width: 100%;
  background-color: #1d1d17;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  
}
.padd{
  padding-top: 190px;
}
.main-left .type-text{
  background-color: #1d1d17;
  height: fit-content;

}

.main-left div h3 {
  height: fit-content;
  margin: 0px;
}
.type-text {
  color: #62625f;
}


.main-left div span {
  color: orangered;
  font-size: 900;
}

 #section2 {
  background-color: #1d1d17;
  height: 100vh;
  width: 95vw;
margin-left: 20px;
display: flex;
flex-direction: row-reverse;
gap: 20px;
margin-top: 70px;

}
 #section2 div {
  background-color: #1d1d17;
   display: flex;
   /* gap: 100px; */
   height: 50vh;
  
}
#section2 .main-left{
  background-color: #1d1d17;
height: 100%;
width: 25%;
}
#section2 .main-right{  

  
  height: 100%;
width: 90vw;

}
#section2 .main-right img{
  width: 100%;
}

#section2 .main-left{
  

  display: flex;
  align-items: center;
  justify-content: center;

  
}
#section2 .main-left div{ 
  
  height: 300px;
width: 100%;
  background-color: #1d1d17;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  
}
 #section2 .padd{
  padding-top: 190px;
}
#section2 .main-left .type-text{
  background-color: #1d1d17;
  height: fit-content;

}

#section2 .main-left div h3 {
  height: fit-content;
  margin: 0px;
}
 #section2 .type-text {
  color: #62625f;
}


#section2 .main-left div span {
  color: orangered;
  font-size: 900;
}

 #section3 {
  background-color: #1d1d17;
  height: 100vh;
  width: 95vw;
margin-left: 20px;
display: flex;
gap: 20px;
margin-top: 70px;

}
 #section3 div {
  background-color: #1d1d17;
   display: flex;
   /* gap: 100px; */
   height: 50vh;
  
}
#section3 .main-left{
  background-color: #1d1d17;
height: 100%;
width: 25%;
}
#section3 .main-right{  

  
  height: 100%;
width: 90vw;

}
#section3 .main-right img{
  width: 100%;
}

#section3 .main-left{
  

  display: flex;
  align-items: center;
  justify-content: center;

  
}
#section3 .main-left div{ 
  
  height: 300px;
width: 100%;
  background-color: #1d1d17;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  
}
 #section3 .padd{
  padding-top: 190px;
}
#section3 .main-left .type-text{
  background-color: #1d1d17;
  height: fit-content;

}

#section3 .main-left div h3 {
  height: fit-content;
  margin: 0px;
}
 #section3 .type-text {
  color: #62625f;
}


#section3 .main-left div span {
  color: orangered;
  font-size: 900;
}
.btn{
  height: 40px;
width: 100px;
  background-color: #1d1d17;
  color: aliceblue;
   border-radius: 25px;
 border: 1px solid #1d1d17;
}
#section3 .main-left div  a {
  width:auto;
  height: 1lh;
  text-decoration: none;
  color: aliceblue;
  list-style: none;
}



 #section4 {
  background-color: #1d1d17;
  height: 100vh;
  width: 95vw;
margin-left: 20px;
display: flex;
flex-direction: row-reverse;
gap: 20px;
margin-top: 70px;

}
 #section4 div {
  background-color: #1d1d17;
   display: flex;
   /* gap: 100px; */
   height: 50vh;
  
}
#section4 .main-left{
  background-color: #1d1d17;
height: 100%;
width: 25%;
}
#section4 .main-right{  

  
  height: 100%;
width: 90vw;

}
#section4 .main-right img{
  width: 100%;
}

#section4 .main-left{
  

  display: flex;
  align-items: center;
  justify-content: center;

  
}
#section4 .main-left div{ 
  
  height: 300px;
width: 100%;
  background-color: #1d1d17;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  
}
 #section4 .padd{
  padding-top: 190px;
}
#section4 .main-left .type-text{
  background-color: #1d1d17;
  height: fit-content;

}

#section4 .main-left div h3 {
  height: fit-content;
  margin: 0px;
}
 #section4 .type-text {
  color: #62625f;
}


#section4 .main-left div span {
  color: orangered;
  font-size: 900;
}

#section5 {
height: 650px;
  margin-bottom: 50px;
}

.cards1{
  display: block;
  height: fit-content;
  width: 100%;
  margin: 10px;
  padding-top: 20px;
  text-align: center;

}

.cards1 .cards {
  display: flex;
align-items: center;
justify-content: center;
justify-content: space-evenly;
flex-wrap: wrap;
gap: 20px;
padding-left: 20px;
padding-bottom: 20px;
margin-bottom: 50px;
}

.card{
  height: 250px;
   background-color: #1d1d17;
  width: calc(33.333% - 20px);
  box-sizing: border-box;   
  padding: 20px;

}
.card img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.card div {
  display: flex;
  margin-top: 30px;
  align-items: end;
}
.card div .card-text{
  display: flex;
  flex-direction: column;
align-items: start;
justify-content: end;
padding-left: 19px;
}
.card-text text{
  color: #62625f;
}



#section6 {
  margin-top: 10px;
   height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column ;
  justify-content: start;
  

}
.cards2{
padding: 10px;
  display:flex;
  gap: 25px;
  align-items: start;
  justify-content: space-evenly;
   height: fit-content;
   width: 100%;
   margin-bottom: 10px;

}.cards-two{
  padding: 20px;
  display: flex;
  flex-direction: column;

  background-color:#1d1d17;
  height:fit-content;
  width: auto;
align-items: start;
justify-content: start;
}

.img-frontier{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.cards-two video{
  height: 300px;
  width: 300px;

}
.cards-two span {
  font-weight: 500;
} 
.cards-two p {
  color: #878783;
}
.cards-two a {
  text-decoration: none;
  list-style: none;
  color: orangered;
}

.img-frontier {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-frontier img{
  height: 350px;
  width: 350px;

}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: fit-content;
  width: 100%;
  margin-top: 180px;
  padding: 15px;
}
.cards-three{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.card-three {
  background-color: #3d3d36;
  padding: 10px 20px;
  width: auto;
  height: fit-content;
  border-radius: 10px;
}

.card-three i {
  border: 1px ;
text-align: center;
  border-radius: 20px;
  padding: 3px 12px;
  background-color: #32322d;
}

.card-three > data {

  color: #737361;
  font-size: large;
}
main .main-right img{
  width: 100%;
}

.footer-cur{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.footer-cur h1 {
  font-size: 80px;
  color: #ffffff;
}

.list-item{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  list-style: none;
  display: flex ;
  
  align-items: start;
  justify-content: start;
  
  gap: 5px;
  background-color: #070705;
  padding: 10px 5px;
}
.list-item ul {
  list-style: none;
  display: flex;
  flex-direction: column;
gap: 10px;
}

.list-item ul a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
}
.list-item ul .item-1 a {
  color: #878783;
}
.footer-end
{
  display: flex;
  width: 100vw ;
  height: fit-content;
  justify-content: space-around;
  background-color: #070705;
}
.button-con #request1 {
 
  text-align: center;
  padding-top: 10px;
}